<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head style="font color: #fafcd6">
	<title>Suite for the Passersby</title>
	<style>
body {
    background-color: #1e6b7f;
}
</style>
	<h1 style="font-size:4vw; font-family:superclarendon;"><font color="#fafcd6">Suite for the Passersby</font></h1>
</head>
<body>
<p style="font-size:2vw; font-family:superclarendon;"><font color="#fafcd6"><em>Suite for the Passersby</em> is an immersive musical experience created by Christina Butera for visitors of the Donald J. Hall Sculpture Park at The Nelson Atkins Museum of Art in Kansas City, MO. Each section of music was composed in reflection of the stunning artwork that surrounds you. The music follows your journey through the park; the experience is different every time! To enjoy the installation, all you need is a smartphone and a pair of headphones or earbuds. You must be physically inside the sculpture park. When prompted, allow for the website to access your phone’s GPS data. It’s easy as that! Plug in, tuck away your phone, and enjoy your exploration of sight and sound.</font>
		
	</p>
	<button>
        <form action="https://www.suiteforthepasserspy.com/main">
            
        <!-- <form action="http://127.0.0.1:8000/main"> -->

                <input type="Submit" value="Start your Journey!"/>
        </form>
    </button>
</body>
</html>

