{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
</head>
<body>
    <button id='start'>start</button>
    <button id='1'>1</button>
    <button id='2'>2</button>
    <button id='3'>3</button>
    <button id='4'>4</button>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.js"></script>
    <script type="text/javascript">
        var button1 = document.getElementById('1');
        var button2 = document.getElementById('2');
        var button3 = document.getElementById('3');
        var button4 = document.getElementById('4');
        var startButton = document.getElementById('start');

        var testm = new Howl({
            src: ["{% static "test.mp3" %}"],
            loop: true,
            // html5: true,
        })

        var hold = [testm];

        var music = hold[0];

        button1.onclick = function () {
            music.seek(0);
        };

        button2.onclick = function () {
            music.seek(60);
        };

        button3.onclick = function () {
            music.seek(120);
        };

        button4.onclick = function () {
            music.seek(180);
        };

        startButton.onclick = async function () {
            if (music.playing()) {
                music.fade(1.0, 0.0, 6000);
                await sleep(6000);
                music.pause()
                console.log('stopped')
            } else {
                music.play();
                music.fade(0.0, 1.0, 6000);
                await sleep(6000);
                console.log('started')
            }
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
</body>
</html>
