{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Suite for the Passersby</title>
    	<style>
            body {
                background-color: #140303;
            }
        </style>
	<h1 style="font-size:4vw; font-family:superclarendon;"><font color="#fafcd6">Suite for the Passersby</font></h1>
</head>
    <body>
        <p style="font-size:2vw; font-family:superclarendon;">
            <font color="#1e6b7f">
                <em>You are listening to...</em>
                <p id='title'>Title Here</p>
                <p id="sculpture">Sculpture Name</p>
            </font>
        </p>

        <button id="start">Play</button>
        <button id="stop">Stop</button>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.js"></script>
        <script type="text/javascript">
            /* Script uses HTML5 Geolocation to get regular GPS location updates
            from end-user devices. When initialized, piece1 (The Promenade) will
            play until the user's geolocation is within the specified trigger
            distance of the desired piece. The function geosuccess contains logic
            to transition to the desired piece.
            */


            const MAX_VOLUME = 1.0;
            const MIN_VOLUME = 0.0;
            const TRANSITION_TIME = 6; // This variable controls the crossfade time when a piece transition is triggered.
            var transitioning = false;
            var currentlyPlaying = 0;
	        var playing1 = null;
	        var playing2 = null;

            // LOGGING
            /* Post request tool for logging event 9/28. Code related to the
            event will be proceeded by the commented "LOGGING" line.
            */
            var LOGGING_ID;
//            var xhr = new XMLHttpRequest();
//            // xhr.open('GET', "https://www.suiteforthepassersby.com/logging", true);
//            xhr.open('GET', "http://127.0.0.1/logging", true);
//            xhr.send();
//            xhr.onreadystatechange = processRequest;
//            async function processRequest(e) {
//                if (xhr.readyState == 4 && xhr.status == 200) {
//                    var response = JSON.parse(xhr.responseText);
//                    LOGGING_ID = response.id;
//                    console.log('id set: ' + LOGGING_ID);
//                }
//            };

            // LOGGING
            /* Function for sending log data post. Structure:
            LOGGING_ID, geoLat, getLong, active text, */
//            async function sendLoggingData(LOGGING_ID, startPos, action) {
//                var xhr = new XMLHttpRequest();
//                xhr.open('GET', "https://www.suiteforthepassersby.com/logging/" + LOGGING_ID + '/' + startPos.coords.latitude + '/' + startPos.coords.longitude + '/' + action, true);
//                var sent = "http://127.0.0.1:8000/logging/" + LOGGING_ID + '/' + startPos.coords.latitude + '/' + startPos.coords.longitude + '/' + clean_strings(action);
//                console.log(sent);
//                xhr.open('GET', sent, true);
//                xhr.send();
//            }



            function calculateDistance(currentPosition, targetPositionLat, targetPositionLon) {
                const R = 6371e3; // earth's radius (const)
                var phi1 = currentPosition.latitude * (Math.PI / 180);
                var phi2 = targetPositionLat * (Math.PI / 180);
                var deltaphi = (targetPositionLat - currentPosition.latitude) * (Math.PI / 180);
                var deltalambda = (targetPositionLon - currentPosition.longitude) * (Math.PI / 180);

                var a = Math.sin(deltaphi / 2) * Math.sin(deltaphi / 2) +
                        Math.cos(phi1) * Math.cos(phi2) *
                        Math.sin(deltalambda / 2) * Math.sin(deltalambda / 2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                var d = R * c;
                return d;
            };

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            document.getElementById('stop').onclick = function() {
                if (playing1) {
                    playing1.pause();
                    playing1.unload();
                    playing1 = null;
                }
                if (playing2) {
                    playing2.pause();
                    playing2.unload();
                    playing2 = null;
                }
            }

            function get_howl(uri) {
                var x = new Howl({
                    src: uri,
                    loop: true,
                    html5: true,
		            onload: async function () {return;},
		            onfade: async function () {return;},
                });
                return x;
            };

            async function changePlaying(uri, startAt) {
                if (!playing1) {
                    playing1 = get_howl(uri);
                    await playing1.onload;
                    if (startAt) {
                        try {
                            playing1._seek(startAt);
                            console.log('weird _seek() thing');
                        }
                        catch(err) {
                            console.log('normal seek');
                            playing1.seek(startAt);
                        }
                    }
                    playing1.play();
                    playing1.fade(MIN_VOLUME, MAX_VOLUME, TRANSITION_TIME);
                    playing2.fade(MAX_VOLUME, MIN_VOLUME, TRANSITION_TIME);
                    await playing2.onfade;
                    var timer;
                    if (startAt) {
                        try {
                            timer = playing2._seek();
                            console.log('weird _seek() thing');
                        }
                        catch(err) {
                            console.log('normal seek');
                            timer = playing2.seek();
                        }
                    }
                    playing2.pause();
                    playing2.unload();
                    playing2 = null;
                    if (startAt) {
                        return timer;
                    }
                } else {
                    playing2 = get_howl(uri);
                    await playing1.onload;
                    if (startAt) {
                        try {
                            playing2._seek(startAt);
                            console.log('weird _seek() thing');
                        }
                        catch(err) {
                            console.log('normal seek');
                            playing2.seek(startAt);
                        }
                    }
                    playing2.play();
                    playing2.fade(MIN_VOLUME, MAX_VOLUME, TRANSITION_TIME);
                    playing1.fade(MAX_VOLUME, MIN_VOLUME, TRANSITION_TIME);
                    await playing1.onfade;
                    var timer;
                    if (startAt) {
                        try {
                            timer = playing1._seek();
                            console.log('weird _seek() thing');
                        }
                        catch(err) {
                            console.log('normal seek');
                            timer = playing1.seek();
                        }
                    }
                    playing1.pause();
                    playing1.unload();
                    playing1 = null;
                    if (startAt) {
                        return timer;
                    }
                }
            };

            function is_it_playing(uri) {
                if (playing1) {
                    try {
                        return playing1.src.includes(uri);
                    } catch(err) {
                        return playing1._src.includes(uri);
                    }
                } else {
                    try {
                        return playing2.src.includes(uri);
                    } catch(err) {
                        return playing2._src.includes(uri);
                    }
                }
            };


            var standingFigures = {"name": "Standing Figures",
                                   "lat": [39.045812],
                                   "lon": [-94.581534],
                                   "audio": "{% static "Headless_Figures.mp3" %}",
                                   "title": "Headless Figures",
                                   "trigger": [38.1],
                                   "startTime": 0};

            var rumi = {"name": "Rumi",
                        "lat": [39.045879],
                        "lon": [-94.580090],
                        "title": "Love is a Madman",
                        "trigger": [45.72],
                        "startTime": 0,
                        "audio": "{% static "Love_is_a_Madman.mp3" %}"};

            var ferment = {"name": "Ferment",
                           "lat": [39.042758],
                           "lon": [-94.579753],
                           "title": "Broken",
                           "trigger": [57.912],
                           "startTime": 0,
                           "audio": "{% static "Broken.mp3" %}"};

            var shuttlecockN = {"name": "North ShuttleCock",
                                "lat": [39.043357],
                                "lon": [-94.581032],
                                "title": "Oda a La Vanguardia",
                                "trigger": [44.196],
                                "startTime": 0,
                                "audio": "{% static "Oda_a_la_Vanguardia.mp3" %}"};

            var shuttlecockS = {"name": "South ShuttleCock",
                                "lat": [39.042691],
                                "lon": [-94.581066],
                                "title": "Fireflies in the Garden",
                                "trigger": [44.196],
                                "startTime": 0,
                                "audio": "{% static "Voice_Transition.mp3" %}"};

            /* promenade and shuttleTransition do not have trigger radii or
            reasonable coordinate locations. The desired functionality is that
            promenade be performed whenever the user is not in proximity of
            any sculpture and that the transition music is only play when the
            user is located in the overlapping radii of the Northern and
            Southern shuttlecocks. In checks not related to these two locations,
            calculations are skipped when the first lat/lon values == 0/0.
            */
            var shuttleTransition = {"name": "Transition",
                                      "title": "Both light and shadow",
                                      "startTime": 0,
                                      "audio": "{% static "Voice_Transition.mp3" %}",
                                      "lat": [0],
                                      "lon": [0]};

            var promenade = {"name": "Promenade",
                                      "title": "Promenade",
                                      "startTime": 0,
                                      "audio": "{% static "Promenade.mp3" %}",
                                      "lat": [0],
                                      "lon": [0]};

            var rooftop = {"name": "Bloch Rooftop, 'Turbo,' or 'Ferryman'",
                            "title": "Big Muddy",
                            "startTime": 0,
                            "audio": "{% static "Big_Muddy.mp3" %}",
                            "lat": [39.043987, 39.043743],
                            "lon": [-94.579814, -94.579809],
                            "trigger": [28.956, 30.48]};

            var fourMotives1 = {"name": "Henry Moore Sculptures",
                            "title": "To Cast Four Motives",
                            "startTime": 0,
                            "audio": "{% static "To_Cast_Four_Motives.mp3" %}",
                            "lat": [39.042582, 39.04288, 39.043271, 39.043560, 39.043824],
                            "lon": [-94.581893, -94.581829, -94.581797, -94.581807, -94.581822],
                            "trigger": [30.48, 28.956, 28.956, 28.956, 27.432]};

            /* Deprecated Functionality:
            The array 'sculptures' was previously used to iterate through all
            available pieces. This has since changed. This array has only been
            maintained to keep testing UI data available without too much refactoring
            for a temporary debugging measure.
            */
            var sculptures = [rooftop, fourMotives1, standingFigures, rumi, ferment, shuttlecockS,
                                shuttlecockN, shuttleTransition, promenade];


            // check for Geolocation support
            console.log('1')
            if (navigator.geolocation) {
                console.log('Geolocation is supported!');
            }
            else {
                console.log('Geolocation is not supported for this Browser/OS.');
                // It may be useful to the end-user to redirect them to a page stating
                // that Geolocation is required for the full experience. This is also
                // a suitable place to offer the option to go to a page with just
                // buttons that trigger each piece/track with information about when
                // to do so.
            }
            // console.log('2')

            /* Main FUnction. Must either start window.onload (should be
            possible thanks to Howler override of DOM exceptions) or through
            a button.onclick or similar user-initiated event.
            */

            document.getElementById('start').onclick = async function() {
                var startPos;
                playing1 = get_howl(promenade['audio']);
                playing1.play();
                var button = document.getElementById('start');
                button.innerHTML = 'PLEASE REFRESH TO RESTART';
                button.disabled = true;

                var geoOptions = {
                    enableHighAccuracy: true
                };
                console.log('3');

                var geoSuccess = async function(position) {
                    startPos = position;

                    // IMPORTANT !!!!!! IMPORTANT
                    /* Any additional tracks/pieces must have their
                    respective dictionary added to this array. This
                    excludes The Promenade and the Shuttlecock Transition music.
                    */



                    if (!transitioning) {
                        var changed = false;
                        if (calculateDistance(startPos, shuttlecockN['lat'][0], shuttlecockN['lon'][0]) <= shuttlecockN['trigger'][0]
                            && calculateDistance(startPos, shuttlecockS['lat'][0], shuttlecockS['lon'][0]) <= shuttlecockS['trigger'][0]) {
                            document.getElementById('title').innerHTML = shuttleTransition['title'];
                            document.getElementById('sculpture').innerHTML = shuttleTransition['name'];
                            if (!is_it_playing(shuttleTransition['audio'])) {
                                console.log('shuttleTransition live')
                                transitioning = true;
                                changePlaying(shuttleTransition['audio'], null);
                                transitioning = false;
                                changed = true;
                                return;
                            } else { 'shuttlecock transition already playing'; return; }
                        }
                        console.log('shuttleTransition pass, no change');

                        if (!changed) {
                            for (var i = 0; i < sculptures.length; i++) {
                                console.log('checking ' + sculptures[i]['title']);
                                if (sculptures[i]['lat'][0] == 0) {
                                    continue;
                                }
                                for (var j = 0; j < sculptures[i]['lat'].length; j++) {
                                    if (calculateDistance(startPos, sculptures[i]['lat'][j], sculptures[i]['lon'][j]) <= sculptures[i]['trigger'][j]) {
                                        document.getElementById('title').innerHTML = sculptures[i]['title'];
                                        document.getElementById('sculpture').innerHTML = sculptures[i]['name'];
                                        console.log(sculptures[i]['title'] + ' change!');
                                        if (!is_it_playing(sculptures[i]['audio'])) {
                                            changed = true;
                                            transitioning = true;
                                            changePlaying(sculptures[i]['audio'], null);
                                            transitioning = false;
                                            return;
                                        } else { console.log(scuplture[i]['title'] + ' already playing'); return; }
                                    }
                                }
                                console.log(sculptures[i]['title'] + '-pass');
                            }
                        }
                        console.log('Regular transition pass, no change');

                        if (!changed) {
                            if (!is_it_playing(promenade['audio'])) {
                                console.log('back to promenade');
                                document.getElementById('title').innerHTML = promenade['title'];
                                document.getElementById('sculpture').innerHTML = promenade['name'];
                                transitioning = true;
                                changePlaying(promenade['audio'], null);
                                transitioning = false;
                                return;
                            } else { console.log('promenade already playing'); return; }
                        }
                    } else { console.log('transition blocked')}
                };

                var geoError = function(error) {
                    console.log('Error occurred. Error code: ' + error.code);
                    // error.code can be:
                    //   0: unknown error
                    //   1: permission denied
                    //   2: position unavailable (error response from location provider)
                    //   3: timed out
                };

                /* Function starts with this call. watchPosition() regularly updates, calling
                geoSuccess if user Geolocation data is successfully received, causing a constant
                loop of the main functionality of the app.
                */
                navigator.geolocation.watchPosition(geoSuccess, geoError, geoOptions);
            };
            console.log('time to worry if otherwise blank');





        </script>
    </body>
</html>

