{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Suite for the Passers By</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">

    </head>

    <body>

        <h1 id="nextTo">You are not near any sculptures.</h1>


        <p id="startLat">x</p>
        <p id="startLon">y</p>
        <p id="distance1">1</p>
        <p id="distance2">2</p>
        <p id="distance3">3</p>
        <p id="distance4">4</p>
        <p id="distance5">5</p>
        <p id="distance6">6</p>
        <p id="distance7">7</p>
        <p id="distance8">8</p>
        <p id="distance9">9</p>
        <p id="distance10">10</p>
        <p id="distance11">11</p>
        <p id="distance12">12</p>


        <br>
        <button id="start">PRESS HERE TO START</button>
        <button id="stop">EMERGENCY STOP</button>
        <br>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.js"></script>
        <script type="text/javascript">
                /* Script uses HTML5 Geolocation to get regular GPS location updates 
                from end-user devices. When initialized, piece1 (The Promenade) will
                play until the user's geolocation is within the specified trigger 
                distance of the desired piece. The function geosuccess contains logic
                to transition to the desired piece.
                */
                const MAX_VOLUME = 1.0;
                const MIN_VOLUME = 0.0;
                const TRANSITION_TIME = 6; // This variable controls the crossfade time when a piece transition is triggered.
                var transitioning = false;
                var currentlyPlaying = 0;
                
                // LOGGING
                /* Post request tool for logging event 9/28. Code related to the 
                event will be proceeded by the commented "LOGGING" line.
                */
                var LOGGING_ID;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', "https://www.suiteforthepassersby.com/logging", true);
                xhr.send();
                xhr.onreadystatechange = processRequest;
                function processRequest(e) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        LOGGING_ID = response.id;
                        console.log('id set: ' + LOGGING_ID);
                    }
                };

                // LOGGING
                /* Function for sending log data post. Structure:
                LOGGING_ID, geoLat, getLong, active text, */
                function sendLoggingData(LOGGING_ID, startPos, action) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', "https://www.suiteforthepassersby.com/logging/" + LOGGING_ID + '/' + startPos.coords.latitude + '/' + startPos.coords.longitude + '/' + action, true);
                    xhr.send();
                }

                // var last_position = {'lat': null, 'lon': null};
                // const MAX_DIFF = 3; // Will through out results over this distance (eliminate eradicate data).

                /* These variables are all Howler objects of the desired tracks of 
                music for the entire piece. piece1 should be The Promenade to achieve 
                the desired effect.
                */

                var piece1 = new Howl({
                        src: ["{% static "Promenade.mp3" %}"],
                        // html5: true,
                        loop: true
                });
                piece1.loop(true);
                var piece2 = new Howl({
                    src: ["{% static "Love_is_a_Madman.mp3" %}"],
                    // html5: true
                });
                piece2.loop(true);
                var piece3 = new Howl({
                    src: ["{% static "Broken.mp3" %}"],
                    // html5: true
                });
                piece3.loop(true);
                var piece4 = new Howl({
                    src: ["{% static "Oda_a_la_Vanguardia.mp3" %}"],
                    // html5: true
                });
                piece4.loop(true);
                var piece5 = new Howl({
                    src: ["{% static "Lightning_Bugs_in_the_Garden.mp3" %}"],
                    // html5: true
                });
                piece5.loop(true);
                var piece6 = new Howl({
                    src: ["{% static "Voice_Transition.mp3" %}"],
                    // html5: true
                });
                piece6.loop(true);
                var piece7 = new Howl({
                    src: ["{% static "Big_Muddy.mp3" %}"],
                    // html5: true
                });
                piece7.loop(true);
                var piece8 = new Howl({
                    src: ["{% static "To_Cast_Four_Motives.mp3" %}"],
                    // html5: true
                });
                piece8.loop(true);
                var piece9 = new Howl({
                    src: ["{% static "Headless_Figures.mp3" %}"],
                    // html5: true
                });
                piece9.loop(true);

                /* DEPRECATED: Use sculpture array - sculpture[index]["audio"]*/
                // var allMusic = [piece1, piece2, piece3, piece4, piece5, piece6, piece7, piece8, piece9];

                /* These key-value pair collections represent the necessary meta data
                for each track/piece to be used.
                "name": the name of the related sculpture or environment for the piece
                "lat": the latitude of the central point of the related sculpture or 
                environment
                "lon": the longitude of the central point of the related sculpture or 
                environment
                "audio": the desired Howler audio object to be played within the
                trigger radius of the sculpture or environment
                "title": the title of the related piece of music/track for the related
                sculpture or environment.
                "trigger": the distance from the lat/lon the user must be for the desired
                piece/track to begin to play.
                "starttime": records the last top time for the piece so that it may be
                restarted at that time if the user re-enters it's radius.

                NOTE - shuttleTransition is a special-use-case. The desired functionality
                is that if a user is located within the trigger radii of both the Northern
                and Southern Shuttlecocks, a special transitional piece is played. "name",
                title, startTime and audio are all that are required of this dictionary.
                */

                var standingFigures = {"name": "Standing Figures",
                                       "lat": [39.045812],
                                       "lon": [-94.581534],
                                       "audio": piece9,
                                       "title": "Headless_Figures",
                                       "trigger": [38.1],
                                       "startTime": 0};

                var rumi = {"name": "Rumi",
                            "lat": [39.045879],
                            "lon": [-94.580090],
                            "title": "Love_is_a_Madman",
                            "trigger": [45.72],
                            "startTime": 0,
                            "audio": piece2};

                var ferment = {"name": "Ferment",
                               "lat": [39.042758],
                               "lon": [-94.579753],
                               "title": "Broken",
                               "trigger": [57.912],
                               "startTime": 0,
                               "audio": piece3};

                var shuttlecockN = {"name": "North ShuttleCock",
                                    "lat": [39.043357],
                                    "lon": [-94.581032],
                                    "title": "Oda_a_La_Vanguardia",
                                    "trigger": [44.196],
                                    "startTime": 0,
                                    "audio": piece4};

                var shuttlecockS = {"name": "South ShuttleCock",
                                    "lat": [39.042691],
                                    "lon": [-94.581066],
                                    "title": "Fireflies_in_the_Garden",
                                    "trigger": [44.196],
                                    "startTime": 0,
                                    "audio": piece5};

                /* promenade and shuttleTransition do not have trigger radii or
                reasonable coordinate locations. The desired functionality is that
                promenade be performed whenever the user is not in proximity of
                any sculpture and that the transition music is only play when the
                user is located in the overlapping radii of the Northern and
                Southern shuttlecocks. In checks not related to these two locations,
                calculations are skipped when the first lat/lon values == 0/0.
                */
                var shuttleTransition = {"name": "Transition",
                                          "title": "Both_light_and_shadow",
                                          "startTime": 0,
                                          "audio": piece6,
                                          "lat": [0],
                                          "lon": [0]};

                var promenade = {"name": "Promenade",
                                          "title": "Promenade",
                                          "startTime": 0,
                                          "audio": piece1,
                                          "lat": [0],
                                          "lon": [0]};

                var rooftop = {"name": "Bloch Rooftop, 'Turbo,' or 'Ferryman'",
                                "title": "Big_Muddy",
                                "startTime": 0,
                                "audio": piece7,
                                "lat": [39.043987, 39.043743],
                                "lon": [-94.579814, -94.579809],
                                "trigger": [28.956, 30.48]};

                var fourMotives1 = {"name": "Henry Moore Sculptures",
                                "title": "To_Cast_Four_Motives",
                                "startTime": 0,
                                "audio": piece8,
                                "lat": [39.042582, 39.04288, 39.043271, 39.043560, 39.043824],
                                "lon": [-94.581893, -94.581829, -94.581797, -94.581807, -94.581822],
                                "trigger": [30.48, 28.956, 28.956, 28.956, 27.432]};

                /* Deprecated Functionality:
                The array 'sculptures' was previously used to iterate through all
                available pieces. This has since changed. This array has only been
                maintained to keep testing UI data available without too much refactoring
                for a temporary debugging measure.
                */
                var sculptures = [rooftop, fourMotives1, standingFigures, rumi, ferment, shuttlecockS,
                                    shuttlecockN, shuttleTransition, promenade];


                // check for Geolocation support
                console.log('1')
                if (navigator.geolocation) {
                    console.log('Geolocation is supported!');
                }
                else {
                    console.log('Geolocation is not supported for this Browser/OS.');
                    // It may be useful to the end-user to redirect them to a page stating
                    // that Geolocation is required for the full experience. This is also
                    // a suitable place to offer the option to go to a page with just
                    // buttons that trigger each piece/track with information about when
                    // to do so.
                }
                // console.log('2')

                /* Main FUnction. Must either start window.onload (should be 
                possible thanks to Howler override of DOM exceptions) or through 
                a button.onclick or similar user-initiated event.
                */
                
                document.getElementById('start').onclick = async function() {
                    var startPos;
                    currentlyPlaying = piece1.play();
                    var button = document.getElementById('start');
                    button.innerHTML = 'PLEASE REFRESH TO RESTART';
                    button.disabled = true;

                    var geoOptions = {
                        enableHighAccuracy: true
                    };
                    console.log('3');

                    var geoSuccess = async function(position) {
                        startPos = position;

                        /* These element updates are largely only for testing.
                         If they are not used for the end UI, they should be 
                         deleted or commented out.*/
                        document.getElementById('startLat').innerHTML = startPos.coords.latitude;
                        document.getElementById('startLon').innerHTML = startPos.coords.longitude;

                        var x = calculateDistance(startPos.coords, standingFigures["lat"][0], standingFigures["lon"][0]);
                        if (x < standingFigures['trigger'][0]) { document.getElementById('distance1').style.color = 'red'; } else { document.getElementById('distance1').style.color = 'black'; };
                        document.getElementById('distance1').innerHTML = "Distance from Standing Figures: " + x;

                        x = calculateDistance(startPos.coords, rumi["lat"][0], rumi["lon"][0]);
                        if (x < rumi['trigger'][0]) { document.getElementById('distance2').style.color = 'red'; } else { document.getElementById('distance2').style.color = 'black'; };
                        document.getElementById('distance2').innerHTML = "Distance from Rumi: " + x;

                        x = calculateDistance(startPos.coords, ferment["lat"][0], ferment["lon"][0]);
                        if (x < ferment['trigger'][0]) { document.getElementById('distance3').style.color = 'red'; } else { document.getElementById('distance3').style.color = 'black'; };
                        document.getElementById('distance3').innerHTML = "Distance from Ferment: " + x;

                        x = calculateDistance(startPos.coords, shuttlecockN["lat"][0], shuttlecockN["lon"][0]);
                        if (x < shuttlecockN['trigger'][0]) { document.getElementById('distance4').style.color = 'red'; } else { document.getElementById('distance4').style.color = 'black'; };
                        document.getElementById('distance4').innerHTML = "Distance from Northern ShuttleCock: " + x;

                        x = calculateDistance(startPos.coords, shuttlecockS["lat"][0], shuttlecockS["lon"][0]);
                        if (x < shuttlecockS['trigger'][0]) { document.getElementById('distance5').style.color = 'red'; } else { document.getElementById('distance5').style.color = 'black'; };
                        document.getElementById('distance5').innerHTML = "Distance from Southern ShuttleCock: " + x;

                        x = calculateDistance(startPos.coords, rooftop["lat"][0], rooftop["lon"][0]);
                        if (x < rooftop['trigger'][0]) { document.getElementById('distance6').style.color = 'red'; } else { document.getElementById('distance6').style.color = 'black'; };
                        document.getElementById('distance6').innerHTML = "Distance from Bloch Rooftop: " + x;

                        x = calculateDistance(startPos.coords, rooftop["lat"][1], rooftop["lon"][1]);
                        if (x < rooftop['trigger'][1]) { document.getElementById('distance7').style.color = 'red'; } else { document.getElementById('distance7').style.color = 'black'; };
                        document.getElementById('distance7').innerHTML = "Distance from Turbo or Ferryman: " + x;

                        x = calculateDistance(startPos.coords, fourMotives1["lat"][0], fourMotives1["lon"][0]);
                        if (x < fourMotives1['trigger'][0]) { document.getElementById('distance8').style.color = 'red'; } else { document.getElementById('distance8').style.color = 'black'; };
                        document.getElementById('distance8').innerHTML = "Distance from Henry Moore Sculptures1: " + x;
                        x = calculateDistance(startPos.coords, fourMotives1["lat"][1], fourMotives1["lon"][1]);
                        if (x < fourMotives1['trigger'][1]) { document.getElementById('distance9').style.color = 'red'; } else { document.getElementById('distance9').style.color = 'black'; };
                        document.getElementById('distance9').innerHTML = "Distance from Henry Moore Sculptures2: " + x;
                        x = calculateDistance(startPos.coords, fourMotives1["lat"][2], fourMotives1["lon"][2]);
                        if (x < fourMotives1['trigger'][2]) { document.getElementById('distance10').style.color = 'red'; } else { document.getElementById('distance10').style.color = 'black'; };
                        document.getElementById('distance10').innerHTML = "Distance from Henry Moore Sculptures3: " + x;
                        x = calculateDistance(startPos.coords, fourMotives1["lat"][3], fourMotives1["lon"][3]);
                        if (x < fourMotives1['trigger'][3]) { document.getElementById('distance11').style.color = 'red'; } else { document.getElementById('distance11').style.color = 'black'; };
                        document.getElementById('distance11').innerHTML = "Distance from Henry Moore Sculptures4: " + x;
                        x = calculateDistance(startPos.coords, fourMotives1["lat"][4], fourMotives1["lon"][4]);
                        if (x < fourMotives1['trigger'][4]) { document.getElementById('distance12').style.color = 'red'; } else { document.getElementById('distance12').style.color = 'black'; };
                        document.getElementById('distance12').innerHTML = "Distance from Henry Moore Sculptures5: " + x;


                        // IMPORTANT !!!!!! IMPORTANT 
                        /* Any additional tracks/pieces must have their 
                        respective dictionary added to this array. This 
                        excludes The Promenade and the Shuttlecock Transition music.
                        */
                        


                        if (!transitioning) {
                            var changed = false;
                            // if in range of both Shuttlecocks: play transition music
                            if (calculateDistance(startPos.coords, shuttlecockN["lat"], shuttlecockN["lon"]) <= shuttlecockN["trigger"] && 
                                calculateDistance(startPos.coords, shuttlecockS["lat"], shuttlecockS["lon"]) <= shuttlecockS["trigger"]) {
                                document.getElementById('nextTo').innerHTML = "You are in the transition area between the ShuttleCocks";
                                if (!shuttleTransition["audio"].playing() ) {
                                    for (var j = 0; j < sculptures.length; j++) {
                                        if (sculptures[j]["audio"].playing()) {
                                            transitioning = true;
                                            // console.log("starting " + shuttleTransition["title"] + " at " + shuttleTransition["startTime"]);
                                            shuttleTransition["audio"].seek(shuttleTransition["startTime"]);
                                            shuttleTransition["audio"].play();
                                            // console.log('actual object seek time: ' + shuttleTransition["audio"].seek());
                                            shuttleTransition["audio"].once('play', async function () {
                                                shuttleTransition["audio"].fade(MIN_VOLUME, MAX_VOLUME, 1000 * TRANSITION_TIME);
                                                sculptures[j]["audio"].fade(MAX_VOLUME, MIN_VOLUME, 1000 * TRANSITION_TIME);
                                                await sleep(1000 * TRANSITION_TIME);
                                                // console.log("stopping " + sculptures[j]["title"] + " at " + sculptures[j]["audio"].seek());
                                                sculptures[j]["startTime"] = sculptures[j]["audio"].seek();
                                                sculptures[j]["audio"].pause();
                                                transitioning = false;
                                                changed = true;});
                                            sendLoggingData(LOGGING_ID, startPos, 'changed_to_transition_from_' + sculptures[j]["title"], true);
                                            return;
                                        }
                                    }
                                } else {
                                    changed = true;
                                    sendLoggingData(LOGGING_ID, startPos, 'transition_already_playing', true);
                                }
                            }

                            // console.log("transition tested");
                            /* if NOT changing to transition music, iterate through each 
                            sculpture. If the user is in range of a new sculpture, change 
                            to that respective piece/track.
                            */
                            if (!changed) {
                                for (var i = 0; i < sculptures.length; i++) {
                                    if (sculptures[i]["lat"][0] == 0 && sculptures[i]["lon"][0] == 0)  {
                                        continue;
                                    } else {
                                        for (var posr = 0; posr < sculptures[i]['lat'].length; posr++) {
                                            if (calculateDistance(startPos.coords, sculptures[i]["lat"][posr], sculptures[i]["lon"][posr]) <= sculptures[i]["trigger"][posr]) {
                                                document.getElementById('nextTo').innerHTML = "You are near " + sculptures[i]["name"] + ", now playing: " + sculptures[i]["title"] + ".";
                                                if (!sculptures[i]["audio"].playing()) {
                                                    for (var j = 0; j < sculptures.length; j++) {
                                                        if (sculptures[j]["audio"].playing()) {
                                                            transitioning = true;
                                                            changed = true;
                                                            // console.log("starting " + sculptures[i]["title"] + " at " + sculptures[i]["startTime"]);
                                                            sculptures[i]["audio"].seek(sculptures[i]["startTime"]);
                                                            // console.log('actual object seek time: ' + sculptures[i]["audio"].seek());
                                                            sculptures[i]["audio"].play();
                                                            sculptures[i]["audio"].once('play', async function () {
                                                                sculptures[i]["audio"].fade(MIN_VOLUME, MAX_VOLUME, 1000 * TRANSITION_TIME);
                                                                sculptures[j]["audio"].fade(MAX_VOLUME, MIN_VOLUME, 1000 * TRANSITION_TIME);
                                                                await sleep(1000 * TRANSITION_TIME);
                                                                // console.log("stopping " + sculptures[j]["title"] + " at " + sculptures[j]["audio"].seek());
                                                                sculptures[j]["startTime"] = sculptures[j]["audio"].seek();
                                                                sculptures[j]["audio"].pause();
                                                                // console.log('LOOK: ' + sculptures[j]["audio"].seek());
                                                                transitioning = false;});
                                                            sendLoggingData(LOGGING_ID, startPos, 'changed_to_' + sculptures[i]["title"] + '_from_' + sculptures[j]["title"], true);
                                                            return;
                                                        }
                                                    }
                                                } else {
                                                    changed = true;
                                                    sendLoggingData(LOGGING_ID, startPos, sculptures[i]['title'] + '_already_playing', true);
                                                    return;
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                            // console.log("allMusic tested");

                            /* if NOT changing to transition music AND NOT changing 
                            to another piece, play The Promenade music.
                            */
                            if (!changed) {
                                document.getElementById('nextTo').innerHTML = "You are not near any sculptures."
                                if (!promenade["audio"].playing()) {
                                    for (var j = 0; j < sculptures.length; j++) {
                                        if (sculptures[j]["audio"].playing()) {
                                            transitioning = true;
                                            // console.log("starting " + promenade["title"] + " at " + promenade["startTime"]);
                                            promenade["audio"].seek(promenade["startTime"]);
                                            promenade["audio"].play();
                                            // console.log('actual object seek time: ' + promenade["audio"].seek());   
                                            promenade["audio"].once('play', async function () {    
                                                promenade["audio"].fade(MIN_VOLUME, MAX_VOLUME, 1000 * TRANSITION_TIME);
                                                sculptures[j]["audio"].fade(MAX_VOLUME, MIN_VOLUME, 1000 * TRANSITION_TIME);
                                                await sleep(1000 * TRANSITION_TIME);
                                                // console.log("stopping " + sculptures[j]["title"] + " at " + sculptures[j]["audio"].seek());
                                                sculptures[j]["startTime"] = sculptures[j]["audio"].seek();
                                                sculptures[j]["audio"].pause();
                                                // console.log('LOOK: ' + sculptures[j]["audio"].seek());
                                                transitioning = false;});
                                            sendLoggingData(LOGGING_ID, startPos, 'changed_to_promenade_from_' + sculptures[j]["title"], true);
                                            return;
                                        }
                                    }
                                } else {sendLoggingData(LOGGING_ID, startPos, 'promenade_already_playing', true);}
                            };
                        } else {
                            // console.log("transition being blocked");
                            sendLoggingData(LOGGING_ID, startPos, 'transition_being_blocked', true);
                        };
                    };

                    var geoError = function(error) {
                        console.log('Error occurred. Error code: ' + error.code);
                        // error.code can be:
                        //   0: unknown error
                        //   1: permission denied
                        //   2: position unavailable (error response from location provider)
                        //   3: timed out
                    };

                    /* Function starts with this call. watchPosition() regularly updates, calling
                    geoSuccess if user Geolocation data is successfully received, causing a constant
                    loop of the main functionality of the app.
                    */
                    navigator.geolocation.watchPosition(geoSuccess, geoError, geoOptions);
                };
                console.log('time to worry if otherwise blank');

                /* Function for calculating users-position from a sculpture. 
                Math and code explained better at 
                https://www.movable-type.co.uk/scripts/latlong.html
                */
                function calculateDistance(currentPosition, targetPositionLat, targetPositionLon) {
                    const R = 6371e3; // earth's radius (const)
                    var phi1 = currentPosition.latitude * (Math.PI / 180);
                    var phi2 = targetPositionLat * (Math.PI / 180);
                    var deltaphi = (targetPositionLat - currentPosition.latitude) * (Math.PI / 180);
                    var deltalambda = (targetPositionLon - currentPosition.longitude) * (Math.PI / 180);

                    var a = Math.sin(deltaphi / 2) * Math.sin(deltaphi / 2) +
                            Math.cos(phi1) * Math.cos(phi2) *
                            Math.sin(deltalambda / 2) * Math.sin(deltalambda / 2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    var d = R * c;
                    return d;
                };

                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }

                // IMPORTANT !!!!!!!!!!! IMPORTANT !!!!!!!!!!!!!
                /* This function is tied to the Emergency Stop button. It simply stops 
                all Howler objects from playing in the off chance that something goes 
                horribly wrong. Any new Howler objects must be added to the this 
                function.
                */
                document.getElementById('stop').onclick = function() {
                    for (i = 0; i < sculptures.length; i++) {
                        sculptures[i]["audio"].pause()
                    }
                };
                
        </script>
    </body>
</html>
